body {
	background-image: '';
}

a, input {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.one-todo-text {
padding: 0.6%;	
}
.one-todo-text:hover {
	font-size: 24px;
  background-color: #d2f7fa;
}

.add-new-todo{
position: absolute;
text-align: center;
top: 50%;
left: 47%;
transform: translate(-50%,-50%);
}

.completed-todo{
	color: #5841b5;
	text-decoration: line-through;
}

.centertext{
	position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
	color: #c2b3ff
}

.button {
	background-color: #82f0ff;
    border-radius: 30px;
    padding: 3% 6%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2% 1%;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover {
    background-color: #4CAF50;
    color: white;
}

.footer {
position: fixed; 
left: 0; bottom: 0;
padding: 10px;
}
.button-open-close{
	text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    
	background-color: #82f0ff;
    border-radius: 30px;
    padding: 1.3% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button-open-close:hover {
    background-color: #4CAF50;
    color: white;
}

.selector-lvl{
	background-color: #dfd2fc;
	border: 2px solid black;
	border-radius: 15px;
    padding: 3% 6%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.input-new-todo {
	background-color: #dfd2fc;
	border: 2px solid black;
	border-radius: 15px;
    padding: 3% 6%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.input-new-todo:hover {
    background-color: white;
    color: black;
}

#zatemnenie:target {
display: block;
}

#zatemnenie {
background: rgba(102, 102, 102, 0.68);
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
display: none;
z-index: 9999999999;
}

window {
position: absolute;
top: 50%;
left: 50%;
width: 300px;
height: 150px;
border: 1px solid #cecece;
padding: 50px;
transform: translate(-50%,-50%);
background-color: #fafafa;
}

a.close_window {
position: absolute;
right: 10px;
top: 4px;
border: none;
}